    /* root */
    
     :root {
        --primary-text-color: #212121;
        --paragraph-text-color: #757575;
        --accent-color: #2196F3;
        --main-white-color: #ffffff;
        --bcg-black-color: #2F303A;
    }
    /* page */
    
    body {
        font-family: Roboto, sans-serif;
        color: var(--primary-text-color);
    }
    
    .list {
        list-style: none;
    }
    /* logo */
    
    .logo-oll {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #000000;
    }
    
    .logo-blue {
        color: var(--accent-color);
    }
    /* header */
    
    .navigation-link {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        text-decoration: none;
    }
    
    .current {
        color: var(--accent-color);
    }
    
    .navigation-link:hover,
    .navigation-link:focus {
        color: var(--accent-color);
    }
    
    .top-list {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--paragraph-text-color);
        text-decoration: none;
    }
    
    .top-list:hover,
    .top-list:focus {
        color: var(--accent-color);
    }
    /* index */
    /* hero */
    
    .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        background-color: var(--bcg-black-color);
        color: var(--main-white-color);
    }
    
    .hero-button {
        font-family: Roboto;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        color: var(--main-white-color);
        text-align: center;
        letter-spacing: 0.06em;
        display: flex;
        align-items: center;
        background-color: var(--accent-color);
        border: none;
        cursor: pointer;
    }
    
    .hero-button:hover,
    .hero-button:focus {
        color: var(--main-white-color);
        background-color: #188CE8;
    }
    /* features */
    
    .features-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
    .features-text {
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--paragraph-text-color);
    }
    /* projects */
    
    .projects-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    }
    /* team */
    
    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    .team-member {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    .team-position {
        font-size: 16px;
        line-height: 1.18;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--paragraph-text-color);
    }
    /* portfolio */
    
    .primary-btn {
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        background-color: var(--main-white-color);
        line-height: 1.62;
        color: var(--primary-text-color);
        text-align: center;
        letter-spacing: 0.03em;
        border: none;
        cursor: pointer;
    }
    
    .primary-btn:hover,
    .primary-btn:focus {
        color: var(--main-white-color);
        background-color: var(--accent-color);
    }
    /* examples */
    
    .examples-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    
    .examples-text {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        color: var(--paragraph-text-color);
    }
    /* footer */
    
    .temorary-bcg {
        background-color: var(--bcg-black-color);
    }
    
    .logo-footer {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: var(--main-white-color)
    }
    
    .add-list {
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }
    
    .bottom-street {
        color: var(--main-white-color);
        text-decoration: none;
    }
    
    .bottom-street:hover,
    .bottom-street:focus {
        color: var(--accent-color);
    }
    
    .list-bottom {
        color: var(--paragraph-text-color);
        text-decoration: none;
    }
    
    .list-bottom:hover,
    .list-bottom:focus {
        color: var(--accent-color);
    }