    /* root */
    
     :root {
        --primary-text-color: #212121;
        --paragraph-text-color: #757575;
        --accent-color: #2196F3;
        --main-white-color: #ffffff;
        --bcg-black-color: #2F303A;
    }
    /* page */
    
    body {
        font-family: Roboto, sans-serif;
        color: var(--primary-text-color);
    }
    
    .link {
        list-style-type: none;
    }
    /* logo */
    
    .logo-oll {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: #000000;
    }
    
    .logo-blue {
        color: var(--accent-color);
    }
    /* header */
    
    .navigation-menu .list {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        text-decoration: none;
    }
    
    .navigation-menu .list.current {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }
    
    .navigation-menu :hover,
    .navigation-menu :focus {
        color: var(--accent-color);
    }
    
    .contact-list .top-list {
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        color: var(--paragraph-text-color);
        text-decoration: none;
    }
    /* .contact-list :hover,
    .contact-list :focus {
        color: var(--accent-color);
    } */
    /* index */
    /* hero */
    
    .hero-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3;
        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        background-color: var(--bcg-black-color);
        color: var(--main-white-color);
    }
    
    .hero-button {
        font-family: Roboto;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.8;
        color: var(--main-white-color);
        text-align: center;
        letter-spacing: 0.06em;
        display: flex;
        align-items: center;
        background-color: var(--accent-color);
        border: none;
        cursor: pointer;
    }
    
    .hero-button:hover,
    .hero-button:focus {
        color: var(--main-white-color);
        background-color: #188CE8;
    }
    /* features */
    
    .features-title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.1;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }
    
    .features-text {
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: var(--paragraph-text-color);
    }
    /* projects */
    
    .projects-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
    }
    /* team */
    
    .team-title {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    .team-member {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
    }
    
    .team-position {
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        letter-spacing: 0.03em;
        color: var(--paragraph-text-color);
    }
    /* portfolio */
    
    .primary-btn {
        font-family: Roboto;
        font-weight: 500;
        font-size: 16px;
        background-color: var(--main-white-color);
        line-height: 1.6;
        color: var(--primary-text-color);
        text-align: center;
        letter-spacing: 0.03em;
        border: none;
        cursor: pointer;
    }
    
    .primary-btn:hover,
    .primary-btn:focus {
        color: var(--main-white-color);
        background-color: var(--accent-color);
    }
    /* examples */
    
    .examples-title {
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }
    
    .examples-text {
        font-size: 16px;
        line-height: 1.8;
        letter-spacing: 0.03em;
        color: var(--paragraph-text-color);
    }
    /* footer */
    
    .temorary-bcg {
        background-color: var(--bcg-black-color);
    }
    
    .logo-footer {
        font-family: Raleway;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        text-decoration: none;
        color: var(--main-white-color)
    }
    
    .add-list {
        font-style: normal;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
    }
    
    .bottom-street {
        color: var(--main-white-color);
        text-decoration: none;
    }
    
    .list-bottom {
        color: var(--paragraph-text-color);
        text-decoration: none;
    }
    
    .add-list :hover,
    .add-list :focus {
        color: var(--accent-color);
    }